
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #253C78;
    --secondary-color: #66A182;
    --accent1-color: #DBD9DB;
    --accent2-color: #45503B;

    --paragraph-font: 'Raleway', sans-serif;
    --heading-font: 'Raleway', sans-serif;

    --nav-background-color: #45503B;
    --nav-link-color: #DBD9DB;
    --nav-hover-link-color: #DBD9DB;
    --nav-hover-background-color: #747572;
}



body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    padding: 20px;
    /* remove all underlines from links */
    text-decoration: none;

}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-hover-background-color);
}


h1, h2, h3, h4, h5, h6 {
    color:var(--accent2-color);
    font-size: 3em;
}

p {
    color:var(--primary-color);
}

p > strong {
    color:var(--secondary-color);
}

.hero {
    position: relative;
    text-align: center;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute; 
    top: 50px; 
    width: 100%;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-align: center;
    /* verticle alignment*/
    line-height: 2em;
    opacity: .80;
    margin-bottom: 3em;
}

.hero article {
    position: absolute; 
    top: 500px; 
    margin: 0 10em;
    opacity: .9;
    background-color: var(--accent1-color);

}

.hero article p {
    padding: 1em;
    margin-right: 1em;
    opacity: 1;
}

.hero article img {
    float: right;
    padding: 2em;
}

section img {
    width: 300px;
    height: auto; 
}


