@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #253C78;
    --secondary-color: #66A182;
    --accent1-color: #DBD9DB;
    --accent2-color: #45503B;

    --paragraph-font: 'Raleway', sans-serif;
    --heading-font: 'Raleway', sans-serif;

    --form-font: 'Sans-serif';

    --nav-background-color: #45503B;
    --nav-link-color: #DBD9DB;
    --nav-hover-link-color: #DBD9DB;
    --nav-hover-background-color: #747572;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;
    text-decoration: none;
    margin: 0 auto;
}

header {
    display: grid;
    height: 150px;
    background-color: var(--accent2-color);

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    justify-items: center;
    padding: 2em;
}

header img {

    /* width: 100%; */
    height: auto;
    margin: 0 auto;

}

nav {
    background-color: var(--nav-background-color);
    grid-column: 2 / 4;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-self: start;

}

nav a {
    display: block;
    flex-shrink: 0;
    flex-grow: 1;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-hover-background-color);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent2-color);
    font-size: 3em;
    text-align: center;
}

p {
    color: var(--primary-color);
    font-size: 1em;
}

p>strong {
    color: var(--secondary-color);
}



.home-container-hero {
    display: block;
    width: 100%;
    margin: 1em auto;

}

.hero-ish img {
    /* display: block; */
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    /* margin: 0 auto; */
    /* position: relative; */
    z-index: -1;
}

.home-container-hero h1 {
    position: absolute;
    margin: 1em auto;
    z-index: 1;


}

.home-container-cta {
    position: relative;
    margin: 0em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
}

.home-container-cta h1 {
    font-size: 3em;
}
.home-container-cta legend {
    font-size: 2em;
    padding: 0em 1em;

}

.container-cta-card-subscribe {
    margin: 0 auto;
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--accent1-color);
    width: 100%;
    min-width: 450px;
}

.container-cta-card-subscribe {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(5, 1fr);
max-height: 500px;
}

.container-cta-card-subscribe form {
    grid-area: 2 / 1 / 6 / 2;
    /* stretch over grid */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.container-cta-card-subscribe form label {
    font-size: 1.1em;
    padding-right: .25em;
}

.container-cta-card-subscribe form input {
    height: 2.25em;
    width: 15em;
    font-size: 1.1em;
}


.container-cta-card-subscribe form div{
    margin: 1em auto;
    /* padding: 1em;  */
}

.hero button, form button{
    margin: 1em auto;
    padding: 1em;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 0.5rem;
    border: 0;

}

.container-cta-card-trip {
    display: block;
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 auto;
    min-width: 450px;
    width: 100%;

}

.container-cta-card-trip img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    z-index: -1;
    position: relative;
    max-height: 500px;
    min-height: 400px;
    object-fit: cover;

}

.container-cta-card-trip h1 {
    position: absolute;
    color: var(--accent1-color);
    width: 100%;
    margin: 2.75em auto;
}

.container-cta-card-trip-button {
    position: relative;
}

.container-cta-card-trip button {
    position: absolute;
    margin: 0 auto;
    padding: 1em;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 0.5rem;
    border: 0;
    bottom: 7em;
    left: 50%;
    transform: translate(-50%, 50%);

    /* border: 0; */
}

.container-home-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    
}

.container-home-info p {

    text-overflow: clip;
    margin: 0 auto;
    max-height: 400px;
    font-size: 1.6vw;
}

/* 
.container-home-info .container-home-info-flex2 p {
    margin: 0 auto;
    /* padding: 15% 0; */
    /* text-align: center;
    font-size: 1.3em;
    background-color: var(--accent1-color);
    width: 100%;
    height: 100%;
    max-height: 400px;
    flex-grow: 1;
    flex-shrink: 1;
 */
 .container-home-info-flex2:hover, .container-home-info-flex4:hover {
    overflow-y: scroll;
 }

.container-home-info-flex1,
.container-home-info-flex2,
.container-home-info-flex3,
.container-home-info-flex4 {
    display: block;
    margin: 0.5em; /* Adjusted for a consistent margin around all items */
    flex-basis: calc(50% - 1em);
    width: 100%;
    height: auto;
    object-fit: cover;
    text-align: center;
    align-self: center;
    flex-direction: column;
    max-height: 400px;
    
    flex: 0 1em 0;   /* Flex-grow, flex-shrink, flex-basis */
    overflow-y: hidden;
}


.container-home-info-flex3{
order: 4;
}
.container-home-info-flex4 {
    order: 3; 

}

.container-home-info img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

.hero {
    position: relative;
    text-align: center;
}

.hero>img {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-align: center;
    /* verticle alignment*/
    line-height: 2em;
    opacity: .80;
    margin-bottom: 3em;
}

.article-like {
    position: absolute;
    opacity: .9;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    width: 100%;
    height: auto;
    margin: -3.5em auto;
    padding: .25em;
    font-size: 2em;

}

.hero article {
    position: absolute;
    top: 75%;
    margin: -5em 10em;
    opacity: .9;
    background-color: var(--accent1-color);
    height: auto;
}

/* 
.hero .address-info article {
    position: absolute;
    top: 75%;
    margin: -5em 10em;
    opacity: .9;
    background-color: var(--accent1-color);
    height: auto;
} */

.hero article p {
    padding: 1em;
    margin-right: 1em;
    /* Auto shrink font */

    opacity: 1;
    height: auto;
}

.hero article img {
    float: right;
    padding: 2em;
}

.hero-info {
    display: grid;
    margin: 1em auto;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--accent1-color);
    row-gap: 3em;
    padding: 3em 0;
}

.hero-info h2 {
    grid-area: 1 / 1 / 4 / 2;
    text-align: center;
    font-size: 3em;
}

.hero-info address {
    grid-area: 1 / 1 / 3 / 2;
    line-height: 1.5em;
    font-size: 1.4em;
    text-align: center;
    align-self: end;
}

.hero-info strong {
    color: var(--secondary-color);
    font-size: 1.5em;
}

.hero-info {
    grid-area: 3/ 1 / 4 / 2;
    text-align: center;
}

.map {

    margin: 0 auto;
    padding: 1em;
    width: 100%;
}


.hero-contact {
    align-self: center;

}

/* cover grid auto
    grid-area: 1 / 1 / 3 / 4;
    width: 100%;
    height: auto;
    padding: 1em 0;
    margin: 0 auto;
    object-fit: cover ;
     */


/* contact us */
/* .hero-contact h1 {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    width: 100%;
    text-align: center;
    line-height: 2em;
    opacity: .80;
    grid-area: 2 / 1 / 2 / 4;
} */



section {
    margin: 0px auto;
    /* padding: 20px 0px; */
}

.history-flex-container {
    display: flex;
    column-gap: 25px;
    margin-top: 3%;
}


.flex-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
}

.flex-item-1 h2 {
    margin: 0 auto;
}

.flex-item-1 img {
    height: 200px;
    margin: 0 auto;
}

.flex-item-2 {
    order: 1;
    margin-top: 3.5em;
}

.flex-item-3 {
    order: 3;
    /* background-color: var(--accent1-color); */
    margin-top: 3.5em;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* overflow: hidden;  */
    margin: 0 auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    column-gap: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    /* justify-content: space-around; */
}

.adventure h2 {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    align-self: end;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;

}

.adventure figure {
    margin: 0 auto;
    /* text-overflow: clip; */
    max-height: 100px;
}


.adventure img {
    grid-row: 2 / 3;
    max-height: 175px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    min-height: 175px;
    min-width: 175px;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
    /* object-position: center top; */
}




.adventure-details figcaption {
    margin: 0 auto;
    max-height: 100px;
    text-overflow: clip;

}

.adventure-team {
    display: grid;
    /* grid-template-columns: minmax(300px, auto); */
    grid-template-rows: minmax(100px, auto);
    /* overflow: hidden;  */
    margin: 0 auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    column-gap: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    /* justify-content: space-around; */
}



.adventure-team h2 {
    grid-column: 1 / 4;
    /* grid-row: 1 / 2; */
    justify-self: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;

}

.adventure-team figure {
    grid-row: 2 / 3;
    margin: 0 auto;
    /* grid-auto-columns: minmax(100px, 2); */
    /* stretch img */
    /* grid-template-columns: 1fr; */
    justify-self: center;
    max-height: 400px;
    

}

.adventure-team figcaption {
    background-color: linear-gradient(to bottom, white 0%,grey 100%);
    margin: 0 auto;
    max-height: 138px;
    max-width: 100%;
    overflow: hidden; 
    transition: max-height 0.25s ease;
    text-align:justify;
    

}

.adventure-details figcaption:hover {
    margin: 0 auto;
    max-height: 300px;
    max-width: 100%;
    overflow: scroll; 

}

.adventure-team-contact img {
    grid-row: 2 / 3;
    max-height: 175px;
    /* grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto); */
    min-height: 175px;
    min-width: 175px;
    max-width: 100%;
    object-fit: cover;
    object-position:center top;
    margin: 0 auto;
    overflow: hidden;

    /* object-position: center top; */
}

.adventure-team-trips img {
    grid-row: 2 / 3;
    max-height: 175px;
    /* grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto); */
    min-height: 250px;
    min-width: 175px;
    max-width: 100%;
    object-fit: cover;
    object-position:center;
    margin: 0 auto;
    /* overflow: hidden; */

    /* object-position: center top; */
}


.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: var(--accent1-color);
}

.contact-form h2 {
    text-align: center;
}


.contact-form form {
    width: 100%;

    /* padding: 1em;   */

    /* box-sizing: border-box; */
    /* border: 1px solid var(--accent2-color); */
    /* border-radius: 0.5rem; */
    /* display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-template-rows:  minmax(100px, auto); */
    text-align: center;

}

.contact-form legend {
    margin: 1em auto;
    font-size: 1.2em;
    color: var(--accent2-color);
    text-align: center;
    font-weight: 700;
}

.contact-form fieldset {
    border: 0;
    /* margin: 1em auto; */


}


.contact-form input {
    font-family: var(--form-font);
}

.contact-form div {
    /* margin: .75em; */
}

.radio-grid {
    display: grid;
    /* margin: 1em auto; */

}

form fieldset {
    margin: 1em auto;
}

/* Name and Email */
.section1 input {
    /* margin: 1em auto; */
    width: 20em;
    height: 2em;
    margin: 1em auto;
}

/* Radio Buttons */
.section2 input {
    /* margin: 1em auto; */

    /* display: flex;
width: 5em;
flex-direction: column; */
}


.section3 div:nth-child(1) {
    margin-bottom: 1em;
}

.section3 textarea {
    width: 80%;
    height: 100px;
    max-width: 900px;
    max-height: 400px;

}


.section4 div:nth-child(1) {
    margin-bottom: 1em;
}

/* Messages */
.section3 input {
    /* margin: 1em auto; */
    width: 15em;
}

.contact-form button {
    margin: 1em auto;
    padding: 1em 3em;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 0.5rem;
    border: 0;

}

.contact-form button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    cursor: pointer;
}


.trip-details {
    display: block;
    background-color: var(--accent1-color);
    padding: 2em 0;

}

.trip-details table {
    /* border: 2px solid rgb(140 140 140); */
    /* center table */
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    border-collapse: collapse;
}


.trip-details table h2 {
    /* padding-top: 1em; */
    margin: 0 auto;
}

.trip-details caption {
/* horizontal align center */
    text-align: center;

    padding-bottom: .75em;
    

    /* padding: 1em; */
    /* background-color: white; */
}

.trip-details .header {
    background-color:  white;
    border: 0;
}

.trip-details th {

    padding: 1em;
}

.trip-details th,td {
    border: 2px solid rgb(140 140 140);
    padding: 1em;
}


.trip-details table .col1:hover {
    opacity: .5;
}




.trip-details tbody > tr:nth-of-type(even), thead {
    background-color: rgb(237 238 242);
  }

/* 
.contact-form fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
} */


.trip-button {
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translate(-50%, 50%);
}



footer {
    display: flex;
   
margin: 0 auto;
    
    /* center */
    justify-content: center;

    height: auto;
    position:static;
    /* wrap */
    
}

footer p {
    font-size: 1em;
}

footer div {

    padding-top: 1em;

}